*.apk
*.ap_
*.dex
*.class
/build/
**/bin/
**/gen/
**/proguard/
captures/
.gradle/
.gradle
local.properties
/local.properties
build/
.externalNativeBuild
.cxx
*.iml
/.idea/
!.idea/codeStyles/  # mantém configurações de estilo de código, se necessário
.DS_Store
*.log
google-services.json
app/google-services.json